.container {
    margin-top: 5vh;
}

.jumbotron {
    min-height: 70vh;
}

.footer {
    text-align: center;
}

.right {
    float: right;
}




#display.new-text {
    text-align: center;
    animation-duration: 2s;
    animation-name: changeText;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}



@keyframes changeText {
    0% {
        opacity: 1;

    }

    25% {
        opacity: 0;


        100% {
            opacity: 1;

        }
    }